<!--Navigation-->

    <div class="top-bar light-lilac small" id="realEstateMenu">
        <div class="top-bar-left">
            <ul class="menu">
                <!--<li class="menu-text">Nekome</li>-->
                <!--nc-icon-glyph business_badge-->
                <li class="page-about"><a href="#"><i class="fa fa-id-card" aria-hidden="true"></i>О нас</a></li>
                <!--nc-icon-glyph business_contacts-->
                <li class="page-contacts active"><a href="#"><i class="fa fa-address-book" aria-hidden="true"></i>Контакты</a></li>
                <li class="page-payment"><a href="#"><i class="nc-icon-glyph business_money-coins" aria-hidden="true"></i>Оплата</a></li>
                <li class="page-delivery"><a href="#"><i class="nc-icon-glyph shopping_delivery-time" aria-hidden="true"></i>Доставка</a></li>
                <li class="page-info"><a href="#"><i class="nc-icon-glyph ui-2_alert-circle-i" aria-hidden="true"></i>Частые Вопросы</a></li>
                <li class="page-"><a href="#"><i class="fi-icon fi-social-skillshare" aria-hidden="true"></i>Барахолка</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="page-login"><a class="users_circle-09"><i class="nc-icon-glyph users_circle-09" aria-hidden="true"></i>Войти</a></li>
            </ul>
        </div>
    </div>
    <!--<div class="callout v4-tease blue" data-closable>-->
        <!--<p>You can so totally close this!</p>-->
        <!--<button class="close-button" aria-label="Dismiss alert" type="button" data-close>-->
            <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<button class="close tiny button hollow" aria-label="Dismiss alert" type="button" data-close>-->
            <!--<span class="show-for-sr">Close</span>-->
            <!--<span><i class="fi-x" aria-hidden="true"></i></span>-->
        <!--</button>-->
    <!--</div>-->
    <div class="halloween pixel-overlay overlay-purple">
        <div class="landing-content">
            <img src="../img/srennab/h3.png">
        </div>
        <canvas id="snow-canvas"></canvas>
    </div>
    <div class="top-bar silver-bar bigger">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="page-index logo">
                    <a href="#">
                        <img src="img/1288445526.svg">Neko<span class="second-word">me</span>
                    </a>
                </li>
                <li class="page-catalog"><span></span><a href="#"><i class="nc-icon-glyph files_book-08" aria-hidden="true"></i>Каталог</a></li>
                <!--<li class="page-catalog"><span></span><span class="menu-text">Каталог</span></li>-->
                <li class="page-new-shipment"><span></span><a href="#"><i class="fi-icon fi-burst-new" aria-hidden="true"></i>Новинки</a></li>
                <li class="page-pre-order"><span></span><a href="#"><i class="nc-icon-glyph business_money-time" aria-hidden="true"></i>Предзаказ</a></li>
                <li class="page-sale"><span></span><a href="#"><i class="fi-icon fi-burst-sale" aria-hidden="true"></i>Распродажа</a></li>
                <li class="page-rent"><span></span><a href="#"><i class="nc-icon-glyph arrows-2_time" aria-hidden="true"></i>В прокат</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="page-search">
                    <a href="#"><i class="fi-icon fi-magnifying-glass" aria-hidden="true"></i></a>
                </li>
                <li class="page-phone">
                    <a href="#" id="phone">
                        <div>
                            +7 (926) 645-07-30
                            <span>Заказать звонок!</span>
                        </div>
                    </a>
                </li>
                <li class="page-cart">
                    <!--http://image.flaticon.com/icons/svg/244/244590.svg-->
                    <!--http://www.mahr.jp/gif/lookandfeel/Mahr/2014/shop.svg-->
                    <a href="#" style="width: 4em;display: block">
                        <!--<img src="http://www.mahr.jp/gif/lookandfeel/Mahr/2014/shop.svg" style="position: absolute;width: 40px;top: -0.1em;right: 1.8em">-->
                        <!--<img src="img/icons/basket.svg" style="position: absolute;width: 40px;top: -0.1em;right: 0.5em">-->
                        <i class="nc-icon-outline shopping_bag-09" style="font-size: 2em;" aria-hidden="true"></i>
                        <!--<img src="img/icons/shopping.png" style="position: absolute;width: 40px;top: -0.1em;right: 0.5em">-->
                    </a>
                </li>
            </ul>
        </div>
    </div>

