<!doctype html>
<html class="no-js" lang="en">
    <head>
        [snp tpl="./parts/meta/meta.html"
            autor="Hig"
            image="/img/logo.png"
            url="http://nekome.ru/"
            siteAliase="http://nekome.ru/"
            siteName="NEKOME.RU"
            appName="NEKOME"
            title="Некоми"
            opgTitle="Некоми. Ваш лучший друг."
            description="Качественные косплей костюмы, парики, атрибутика. Продаем и сдаем в аренду. Лучшие фигурки."
            keywords="сдать квартиру в аренду, сдать квартиру в Москве, сдать квартиру, хочу сдать квартиру"
            version="zXdAG59JE3"
            titleColor="#563d7c"
            themeColor="#ffffff"
            iosPrefi="-precomposed"
        ]
        [snp tpl="./parts/analitycs/ga.html" id="UA-0-0"]
        [snp tpl="./parts/analitycs/ym.html" id="0"]
        <link rel="stylesheet" href="/css/stylesheets.min.css">
        [snp tpl="./parts/meta/iefix.html" class=""]
    </head>
    <body class="page-new-shipment">
        <div class="bg"></div>
        <div id="old-browser-warn"></div>
        <header>
            [snp tpl="./parts/navigation/nav.html" class=""]
        </header>